@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    
    html {
        overflow-y: hidden;
    }

    body {
        width: 100vw;
        height: 100vh;
        background-image: linear-gradient(to left, #000000, #8B0000);
    }
    
    section {
        height: 48vh;
        width: 80vw;
    }
    
    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
    }
    
    section#login > div#formulario {
        float: right;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    
    html {
        overflow-y: hidden;
    }

    body {
        background-image: linear-gradient(to right, #000000, #8B0000);
    }
    
    section {
        height: 52vh;
        width: 95vw;    
    }
    
    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }
    
    section#login > div#formulario {
        float: left;
        width: 50%;
    }
    
    div#formulario > h1 {
        font-size: 2em;
    }
    
    div#formulario > p {
    font-size: 1.2em;
    }
}
